.product{
  margin-top: 3%;
}
.cart-row{
  margin-top: 5%;
}
.div-h{
  height: 3%;

}
.heads{
  width: 100%;
  margin-left: 5%
}
.recom-col{
  margin-left: 5%;
  margin-top: 3%;
}

@media (max-width: 767.98px) { 
  
  .cart-row{
    display: none;
  }

  .tambienPuede{
    display: none;
  }
  .container> h3{
  	display: none;
  }

  .producto> img {
  	padding-left: 15%;
  	padding-right: 15%;
  }
}